<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Facebook Posts</title>
</head>
<body>
	<ul>
		<li>
			<p style="width: 500px;">
				Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Proin leo orci, viverra et urna a, ullamcorper tincidunt odio. Praesent a felis non turpis auctor vestibulum at ut mi. Sed eu auctor libero, id cursus mi. Cras luctus commodo ex, nec pulvinar massa tempus quis. Fusce interdum, nisl eu iaculis luctus, metus ex venenatis tortor, quis tempor erat velit in nibh. Pellentesque nisi nisi, suscipit sit amet rutrum sed, sodales eget enim. Aliquam eget metus leo.
			</p>
			<img src="https://www.fillmurray.com/500/500" alt="">
		</li>
	</ul>
</body>
</html>
